name: invoice-app-provider

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - ./docker/docker_data:/data/db
    restart: unless-stopped
